<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>loki-rest</h1>
    <p>Welcome to the loki-rest sample application</p>
    
    To view the demo page, go to <a href="/Demo">/Demo</a>.
  </body>
</html>
